/*-----------Button Animation and Hover-----------*/
/* #sideBarButton:hover {
	animation-name: bounceAlpha;
	animation-fill-mode: forwards;
	cursor: pointer;
}

@keyframes bounceAlpha {
	0% {
		opacity: 1; 
		transform: translateX(0px) scale(1);
	}
	25%{
		opacity: 0; 
		transform:translateX(10px) scale(0.9);
	}
	26%{
		opacity: 0; 
		transform:translateX(-10px) scale(0.9);
	}
	55% {
		opacity: 1; 
		transform: translateX(0px) scale(1);
	}
}

#imas {
	position: absolute;
	width: 25px;
	height: 20px;
	top: 10px;
	left: 10px;
}

#imas:hover{
	animation-name: bounceAlpha;
	animation-duration: 0.5s;
}




#sideBarButton{
	border-radius: 50%;
	opacity: 60%;
	border: none;
	position: fixed;
	width: 40px;
	height: 40px;
	top: 5px;
	left: 5px;
	z-index: 2;
	background: linear-gradient(45deg, rgba(0, 255, 179, 0.75), rgba(107, 204, 241, 0.75));
	transition: left 1s;
}

#sideBarButton:focus {

}


#navigation {
	opacity: 0%;
	width: 200px;
	height: 1080px;
	background-color: black;
	transition: left 2s;
	left: 200px;
} */


/*-----------Body Background-----------*/
.firstSection {
	background: linear-gradient(35deg, #9effff, #fca4a4);
	position: fixed;
	top: 0px;
	left: 0px;
	z-index: -1;
	width: 100%;
	height: 100%;
}

#profilePicture img{
	border-radius: 250px;
	width: 120px;
	height: 120px;
	left: 50%;
	top: 0px;
	position: fixed;
	transform: translate(-50%);
}

#profilePicture p {
	left: 50%;
	position: fixed;
	transform: translate(-50%);
	top: 120px;
	font-family: monospace;
	font-size: 20px;
}

/* Tabs */

#tabs{
	position: fixed;
  	top: 50%;
  	left: 50%;

	transform: translate(-50%, -50%);
	margin: auto;
	/* border: 2px solid;
	border-image:linear-gradient(45deg,rgb(57, 255, 20),rgb(17, 77, 207)) 1; */

	padding-left: 50px;
	padding-right: 50px;
	padding-top: 10px;
	padding-bottom: 10px;

}

#projects button {
	border: black;
	display: block;
	margin: 25px;
	animation-fill-mode:backwards;

}

button, button::after {
	width: 250px;
	height: 46px;
	font-size: 16px;
	font-family: 'Bebas Neue', cursive;
	background: linear-gradient(45deg, transparent 5%, #FF013C 5%);
	border: 0;
	color: #fff;
	letter-spacing: 10px;
	line-height: 0px;
	box-shadow: 6px 0px 0px #00E6F6;
	outline: transparent;
	position: relative;
  }
  
  button::after {
	--slice-0: inset(50% 50% 50% 50%);
	--slice-1: inset(80% -6px 0 0);
	--slice-2: inset(50% -6px 30% 0);
	--slice-3: inset(10% -6px 85% 0);
	--slice-4: inset(40% -6px 43% 0);
	--slice-5: inset(80% -6px 5% 0);
	
	content: 'PROJECTS';
	display: block;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background: linear-gradient(45deg, transparent 3%, #00E6F6 3%, #00E6F6 5%, #FF013C 5%);
	text-shadow: -3px -3px 0px #F8F005, 3px 3px 0px #00E6F6;
	clip-path: var(--slice-0);
  }
  
  button:hover::after {
	animation: 1s glitch;
	animation-timing-function: steps(2, end);
  }
  
  @keyframes glitch {
	0% {
	  clip-path: var(--slice-1);
	  transform: translate(-20px, -10px);
	}
	10% {
	  clip-path: var(--slice-3);
	  transform: translate(10px, 10px);
	}
	20% {
	  clip-path: var(--slice-1);
	  transform: translate(-10px, 10px);
	}
	30% {
	  clip-path: var(--slice-3);
	  transform: translate(0px, 5px);
	}
	40% {
	  clip-path: var(--slice-2);
	  transform: translate(-5px, 0px);
	}
	50% {
	  clip-path: var(--slice-3);
	  transform: translate(5px, 0px);
	}
	60% {
	  clip-path: var(--slice-4);
	  transform: translate(5px, 10px);
	}
	70% {
	  clip-path: var(--slice-2);
	  transform: translate(-10px, 10px);
	}
	80% {
	  clip-path: var(--slice-5);
	  transform: translate(20px, -10px);
	}
	90% {
	  clip-path: var(--slice-1);
	  transform: translate(-10px, 0px);
	}
	100% {
	  clip-path: var(--slice-1);
	  transform: translate(0);
	}
  }

/*-----------Body-----------*/
/* .wip {
	margin: auto;
	text-align: center;
	font-family: monospace;
}

.box {
	position: fixed;
  	top: 50%;
  	left: 50%;

	transform: translate(-50%, -50%);
	margin: auto;
	border: 2px solid white;

	padding: 10px;
} */

/*-----------Links-----------*/
.borderGra {
	border: 2px solid;
	padding: 50px;
  	border-image:linear-gradient(45deg,rgb(248, 226, 129),rgb(233, 147, 250)) 1;
	padding: 10px;
	top: 90%;
	left: 50%;
	position: fixed;
	transform: translate(-50%, -50%);
}

#linkdin img{
	width: 25px;
	height: 25px;
}

#github img {
	width: 25px;
	height: 25px;
	
}

#twitter img {
	width: 25px;
	height: 25px;
}

#credit{
	bottom: 0px;
	left: 50%;
	transform: translate(-50%);
	position: fixed;
	font-family: monospace;
	font-size: 12px;
}
/*-----------Suggestions-----------*/
#suggestion {
	position: fixed;
	transform: translate(-50%, -50%);
	padding: 5px;
	top: 50%;
	left: 50%;
}

.borderGra p {
	font-family: monospace;
	display: inline-block;

}

#submitFeedback {
	opacity: 60%;
	border: none;
	margin-right: 50%;
	/*background-image: linear-gradient(0def, rgb(235, 255, 145),rgb(233, 147, 250));*/
	background-image: linear-gradient(to right, #66d7f3 0%, #fafdbc 100%);
	box-shadow: 0px 0px 0px 0px black;
	bottom: 1%;
	width: 100px;
	height: 25px;
}


#submitFeedback:hover {
	animation-name: submitHighlight;
	animation-fill-mode: forwards;
	cursor: pointer;
	animation-duration: 0.25s;
	transition-duration: 0.5s;
}

@keyframes submitHighlight {
	/*
	0% {
		background-image: linear-gradient(to right,#fafdbc 100%, #66d7f3 0%);
	}
	25% {
		background-image: linear-gradient(to left,#fafdbc 75%, #66d7f3 25%);
	}
	50% {
		background-image: linear-gradient(to left,#fafdbc 50%, #66d7f3 50%);
	}
	75% {
		background-image: linear-gradient(to left,#fafdbc 25%, #66d7f3 75%);
	}
	*/
	100% {
		background-image: linear-gradient(to right, #66d7f3 0%, #fafdbc 100%);
		box-shadow: 2px 5px 6px 0.1px black;
	}
}

#nameText { 
	position: absolute;
	border: 1px solid black;
	background-color: #ebeebe;
	border: none;
	border-radius: 15px;
}

#emailText { 
	position: absolute;
	border: 1px solid black;
	background-color: #ebeebe;
	border: none;
	border-radius: 15px;
}
