@font-face {
    font-family: 'thermal';
    src: url(font/MerchantCopy-GOXq.ttf);
}

body {
    overflow: hidden;
}
/*Thermal font*/
#stars1 {
    /*background-color: #07071e;*/
    width: 100vw;
    height: 100vh;
    margin: 0px;
    top: 0px; left: 0px;
    position: fixed; 
    z-index: 0;
}

.main {
    background-color: #112;
    display: flex;
    justify-content: center;
    top: 0px; left: 0px;
}


.button{
    display: flex;
    width: 100px;
    height: 45px;
    align-items: center;
    justify-content: center;
    background-color: #FFDE66;
    border: 2px black;
    border-radius: 10px;
    box-shadow: 10px 10px; 
    /* display: none; */
}

.button:hover{
    background-color: #c2ab5a;
    transition: ease; transition-duration: .25s;
}

.box{
    width: 100vw;
    height: 5vh;
    background-color: 112;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 100px;
    top: 0px; left: 0px;
}


#credit{
	bottom: 0px;
	left: 50%;
	transform: translate(-50%);
	position: fixed;
	font-family: 'thermal';
	font-size: 17px;
    color: white;
}


a:link { text-decoration: none; color: white;}

a:visited { text-decoration: none; color: white;}

a:hover { text-decoration: none; }

a:active { text-decoration: none; }

/* Country CSS */

.mainContent{
    height: 100vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 0px;left: 0px;
    background-color: #1e1e28;
}

.mainBox {
    height: 70vh;
    width: 35vw;
    background-color: #1e1e28;
    /* box-shadow: 10px 10px black; */
}

.topButton {
    display: flex;
    justify-content: center;
    align-items: center;
}

#HowTo {
    border: 1px dashed white;
    background-color: #1e1e28;
    color: white;
    text-align: center;
    font-family: monospace;
}

#HowTo:hover {
    background-color: #444458;
}

.map{
    /* outline: 1px solid red; */
    position: relative;
    height: 87%;
    width: 100%;
    top: 0px;
    left: 0px;
    display: flex;
    align-items: center;
    justify-content: center;
}

#worldSize
{
    width: 100%;
}

#guess{
    height: 100%;
    width: 50%;
    position: absolute;
    background-color: #1e1e2883;
    outline: 1px solid red;
}

.btmIcons {
    display: flex;
    position: relative;
    height: 13%;
    width: 100%;
    top: 0px; left: 0px;
    /* outline: 1px solid red; */
    justify-content: center;
    align-items: center;
}

.input{
    display: flex;
    justify-content: center;
    align-items: center;
    outline: 1px solid white;
    height: 70%; width: 50%;
}

#inputCountry{
    background-color: #1e1e28;
    border: 0px;
    color: white;
    text-align: center;
    caret-color: #6F6F76;
    font-family: monospace;
    
}
#inputCountry::placeholder{
    
}

#inputCountry:focus{
    outline: none;
}

#submitInput{
    background-color: white;
    border: 1px  white;
    height: 50%;
    color:  #1e1e28;
    margin: 20px;
    font-family: monospace;
}

#submitInput:hover
{
    background-color: #444458;
}