@font-face {
    font-family: 'thermal';
    src: url(font/MerchantCopy-GOXq.ttf);
}

body {
    overflow: hidden;
}
/*Thermal font*/

.main {
    background-color: #DDD0C8;
    display: flex;
    position: fixed;
    justify-content: center;
    top: 0px; left: 0px;
    width: 100vw;
    height: 100vh;
    margin: 0px;
}

.box {
    display: flex;
    width: 100vw;
    height: 15vh;
    justify-content: space-around;
    margin: 10px;
}

.mnButton{
    height: 20px;
    font-size: 20px;
    background-color: transparent;
    border: 0;
    font-family: themal;
}
.mnButton:hover {
    cursor: pointer;
}

#credit{
	bottom: 0px;
	left: 50%;
	transform: translate(-50%);
	position: fixed;
	font-family: 'thermal';
	font-size: 17px;
    color: white;
}


a:link { text-decoration: none; color: white;}

a:visited { text-decoration: none; color: white;}

a:hover { text-decoration: none; }

a:active { text-decoration: none; }

/*----------------------------------Country CSS----------------------------------*/

.mainContent{
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: space-around;
    position: absolute;
    top: 0px;left: 0px;
    background-color: #1e1e28;
}

.leftHalf{
    height: 100vh;
    width: 20vw;
    display: flex;
    justify-content: center;
}

.middleHalf {
    top: 0px;
    left: 20vw;
    height: 100vh;
    width: 60vw;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.rightHalf {
    top: 0px;
    left: 60vw;
    height: 100vh;
    width: 20vw;
}

.topButton {
    font-family: thermal;
    color: white;
}

#HowTo {
    font-size: 30px;
    position: relative;
    text-align: center;
}

.topButton li {
    margin: 10px;
}

.answers{
    top: 0px;
    left: 0%;
    position: relative;
    width: 100%;
    height: 100%;
}

.answers p {
    font-family: thermal;
    color: white;
    font-size: 30px;
    text-align: center;
    top: 0px;
    
}


.middleHalf{
    position: relative;
    height: 100%;
    width: 100%;
    top: 0px;
    left: 0px;
    display: flex;
    align-items: center;
    justify-content: center;
}

#worldSize
{
    top: 0%;
    width: 75%;
    position: relative;
}

#guess{
    height: 100%;
    width: 50%;
    position: absolute;
    background-color: #1e1e2883;
    outline: 1px solid red;
}

.btmIcons {
    display: flex;
    position: relative;
    height: 13%;
    width: 100%;
    top: 0px; left: 0px;
    /* outline: 1px solid red; */
    justify-content: center;
    align-items: center;
}

.input{
    display: flex;
    justify-content: center;
    align-items: center;
    outline: 1px solid white;
    height: 70%; width: 50%;
}

#inputCountry{
    background-color: #1e1e28;
    border: 0px;
    color: white;
    text-align: center;
    caret-color: #6F6F76;
    font-family: monospace;
    
}
#inputCountry::placeholder{
    
}

#inputCountry:focus{
    outline: none;
}

#submitInput{
    background-color: white;
    border: 1px  white;
    height: 50%;
    color:  #1e1e28;
    margin: 20px;
    font-family: monospace;
}

#submitInput:hover
{
    background-color: #444458;
}